body{
  background-image:url("https://images3.alphacoders.com/230/230805.jpg");
  background-size:100%;
  height:100vh;
}
h1{
  color: #00F0F0;
  text-shadow: 4px 2px 4px grey,4px 2px 4px #FFFFFF;
  text-align: center;
   padding: 8px;
   background-color: rgba(255,255,255,0.3);
   margin-bottom: 60px;
}
.main{
  position:relative;
  width:70%;
  height:800px;
/*   background-color:red; */
  border:10px solid black;
  text-align:center;
  margin:0 auto;
}
img{
  position:absolute;
  width:100%;
  height:100%;
  display:block;
/*   margin:10px; */
/*   padding:0px 95px; */
}
.left{
  position:absolute;
  top:50%;
  display:block;
  float:left;
  z-index:1;
  background-color:transparent;
}
.left a{
  font-size:25px;
  text-decoration:none;
  color:red;
   background-color:rgba(255,255,255,0.5);
  padding:10px;
  border-radius:20px;
}
.right{
  position:absolute;
  top:50%;
  display:block;
  float:right;
  z-index:1;
  right:4px;
}
.right a{
  font-size:25px;
  text-decoration:none;
  color:green;
  background-color:rgba(255,255,255,0.5);
  padding:10px;
  border-radius:20px;
}
p{
  background-color:#BEBEBE;
  padding:10px;
  border-radius:50px;
  border:1px solid #000000;
}
.b1{
  position:absolute;
  bottom:10px;
  left:20%;
}
.b2{
  position:absolute;
  bottom:10px;
  left:40%;
}
.b3{
  position:absolute;
  bottom:10px;
  left:60%;
}
.b4{
  position:absolute;
  bottom:10px;
  left:80%;
}
